[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
plotly = "*"
dash-bootstrap-components = "*"
statsmodels = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
