.button-main {
    display: flex;
    position: sticky;
    margin-top: 20px;
    justify-content: center;
    margin-top:10px;
} 

.add-plot{
    height:30px;
    width:100px;
    /* box-shadow: 10px 5px 5px black; */
    font-weight: bold; 
    border-radius: 15%;
    font-size:0.9rem;
}

@media screen and (max-width: 768px){
    .add-plot{
        font-size: 1.0rem;
        font-style: normal;
        height:20px;
    }
}