.container{
    margin-bottom: 100px;
}

.container-body-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.container-body{
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    width: 95%;

}

.container-body-item{
    display:flex;
    /* max-width: 640px; */
    justify-content: space-around;
    margin-top: 20px;
    overflow:hidden;
    width: 49%;
}

.header {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin:10px;
}



.mainbody-item{
    display: flex;
    /* min-height: 100px; */
    border-style: solid;
    background: rgba(0, 0, 0, 0.508);
    box-shadow: 10px 5px 5px black;

}


@media screen and (max-width: 768px){

    .container-body{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }

    .container-body-item{
        width: 100%;
        flex-direction: column;
    }

    .container-body-wrapper{
        margin-top: 70px;
    }

}


